Sem2/xml and js/Week3/product.dtd

<!ELEMENT products (product+) >
<!ELEMENT product (productName,manufacturer,description,price+,productItems) >
<!ELEMENT productName (#PCDATA) >
<!ELEMENT manufacturer (#PCDATA) >
<!ELEMENT description (#PCDATA) >
<!ELEMENT price (#PCDATA) >
<!ELEMENT productItems (#PCDATA) >
<!ATTLIST product type CDATA #REQUIRED >
<!ATTLIST price curr CDATA #REQUIRED >